APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rsm
POSTGRES_USER=rsm_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_POOL_MIN_SIZE=1
POSTGRES_POOL_MAX_SIZE=10

AGE_GRAPH_NAME=rsm_eotar_interface
PATH_SEARCH_LIMIT=1000

LOG_LEVEL=INFO
DB_STATEMENT_TIMEOUT_MS=30000
